body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4fbff;
}

/* HEADER */
header {
  background: #6ec1e4;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.cart-dropdown {
  position: relative;
  display: inline-block;
}

.cart-btn {
  background: #6ec1e4;
  border: none;
  padding: 8px 12px;
  color: white;
  cursor: pointer;
}

.cart-box {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  background: white;
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 999;
}

.cart-box ul {
  list-style: none;
  padding: 0;
}

.cart-box li {
  font-size: 14px;
  margin-bottom: 5px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 40px;
  background: #d9f3ff;
}

/* PRODUCTS */
.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}

.product-card img {
  width: 100%;
  border-radius: 8px;
}

.product-card:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

/* BUTTON */
button {
  background: #6ec1e4;
  border: none;
  padding: 8px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* ABOUT */
.about {
  text-align: center;
  padding: 30px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: #6ec1e4;
  color: white;
}
